{{!-- <img src="images/image1.jpg" alt="image"> --}}

 <main>
    <div class="container" style="margin-top: 60px;">
      <div class="row login">
       
      <div class="col-md-6 login-card">
        <h1 class="page-title text-dark">Login</h1>
        <form class="form login-form" id="loginform">

          <div class="form-group">
              <label for="email-login" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
            </div>

            <div class="form-group">
              <label for="password-login" class="col-sm-2 col-form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password-login" placeholder="Password">
              </div>

              <div class="form-group">
                <button class="btn btn-success btn-block" style="margin:25px 0px" type="submit">Log Me In</button>
              </div>
        </form>

        <p class="account">Don't have an account? <span> <a href="/sign-up">Sign Up</a></span></p>
      </div>
      
      <div class="col-md-6 login-welcome">
          {{!-- <img src="/static/images/hutor-tutor.png" width="100px" style="float:right" /> --}}
          <p class="welcome-back"></p>
          

          <div class="card border-primary mb-3" >
            <div class="card-header primary">Welcome Back to HooterTutor!</div>
            <div class="card-body">

              <p class="card-text">

              <p>Our mission is to improve the remote learning experience for Students in high school and university
                by improving ease of access to learning services</p>

              <ul>
                <li>Students will be able to quickly and easily find help through a simple platform </li>
                <li>Students can define a topic of study</li>
                <li>Students will able to choose a tutor</li>
                <li>Tutor is available 24/7 to help you</li>
              </ul>
                
            </div>
          </div>

      </div>
    </div>
 </div> 
   
</main>

{{#section 'script'}}

<script src="/static/js/login.js"></script>

{{/section}}

