 <div class="col nav">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Result Page</a>
            <li class="nav-item">
                <a class="nav-link" href="#">Request Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
            </li>
        </ul>
    </div>

    <main class="main-result">
        
        <div class="container result1">
            {{#if tutors.length}}
            {{#each tutors as |tutor|}}
            <div class="card result-card">
                
                <a class="btn btn-success btn-block" href="/api/help/request/{{tutor.id}}">Request Help</a>

            </div>
            {{/each}}
            {{/if}}
        </div>
    </main>
