<body>
  <div class="col nav">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Result Page</a>
      <li class="nav-item">
        <a class="nav-link" href="#">Request Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
      </li>
    </ul>
  </div>

  <main>
    <p1>Number of Hours Remaining: </p1>
    <div class="container students">
      <div class="row student">

        <div class="input-group mb-3">
            <div class="card">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Request Help</a>
                </div>
              </div>
        </div>
      </div>
</body>
</main>