  <main>
    <div class="container image1">
      <div class="row login-signup">

        <div class="col">
          <div class="card">
            <div class="card-title">
              <h1 class="page-title text-dark">Sign-up</h1>
            </div>
            <div class="card-body">
              <form class="form signup-form" id="signupform">

                <div class="form-group">
                  <label for="firstname" class="form-label">First Name:</label>
                  <input type="first name" name="firstname" required class="form-control" id="firstname">
                </div>

                <div class="form-group">
                  <label for="lastname" class="form-label">Last Name:</label>
                  <input type="lastname" class="form-control" required id="lastname">
                </div>

                <div class="form-group">
                  <label for="email" class="form-label">Email:</label>
                  <input type="email" name="email" class="form-control" required id="email">
                </div>

                <div class="form-group">
                  <label for="password" class="col-sm-2 col-form-label">Password:</label>
                  <input type="password" name="password" class="form-control" required id="password">
                </div>

                <div class="form-group">
                  <label for="inputPasswordAgain" class="col-sm-2 col-form-label"> Confirm Password:</label>
                  <input type="password" name="password_again" class="form-control" required id="passwordagain">
                </div>

                <div class="form-group">
                  <label for="username-signup" class="form-label">University:</label>
                  <input type="university" class="form-control" id="university" required>
                </div>

                <div class="form-group">
                  <input class="form-check-input tutor" name="stcheck" type="radio" required id="stcheck" value="is_tutor">
                  <label class="form-check-label" for="stcheck">
                    I am A Teacher
                  </label>
                </div>


                <div class="form-group">
                  <input class="form-check-input student" name="stcheck" type="radio" required id="stcheck" value="is_student">
                  <label class="form-check-label" for="stcheck">
                    I am A Student
                  </label>
                </div>
                <div class="form-group">
                  <button class="btn btn-success btn-block" type="submit">Sign-up</button>

                </div>
              </form>

              <p class="account">Already have an account? <span> <a href="/"> Log In</a></span></p>

            </div>
          </div>
        </div>

        <div class="col login-welcome1">
          <p class="welcome-back">Welcome to HooterTutor!</p>
          <p>Our mission is to improve the remote learning experience for Students in high school and university
            by improving ease of access to learning services</p>

          <ul>
            <li>Students will be able to quickly and easily find help through a simple platform </li>
            <li>Students can define a topic of study</li>
            <li>Students will able to choose a tutor</li>
            <li>Tutor is available 24/7 to help you</li>
          </ul>

        </div>
      </div>
    </div>

</body>
</main>


{{#section 'script'}}

<script src="/static/js/signup.js"></script>

{{/section}}
