<main class="main-result">
    <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/student-portal">Request Help</a></li>
            <li class="list-group-item"><a href="/logout">Logout</a></li>
        </ul>
        </div>
    </div>
    <div class="col-md-7">
    <div class="row student">
        <form class="help-request-form" id="requestform">
        <div class="input-group mb-3">
          <span class="input-group-text" id="dafdsa">Topic</span>
          <select class="form-select" aria-label="Default select example" id="subject" name="subject">
                <option selected>Select subject...</option>
                <option value="Node">Node</option>
                <option value="React">React</option>
                <option value="Angular">Angular</option>
                <option value="TypeScript">TypeScript</option>
          </select>  
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="duration">Duration</label>
          <select class="form-select" name="duration" id="duration">
            <option selected>Choose...</option>
            <option value="15">15 min</option>
            <option value="30">30 min</option>
            <option value="60">60 min</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <button class="btn btn-success btn-block" type="submit">Submit</button>
        </div>
        </form>
        </div>
    
</main>


{{#section 'script'}}

<script src="/static/js/studentportal.js"></script>

{{/section}}