<main>
    <p1>Number of Hours Remaining: </p1>

    <div class="container students">
      <div class="row student">
        <form class="form help-request-form" id="signupform">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Topic</span>
          <input type="text" name="subject" class="form-control" aria-label="Sizing example input" id="subject">
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Duration</label>
          <select class="form-select" name="duration" id="duration">
            <option selected>Choose....</option>
            <option value="15">15 min</option>
            <option value="30">30 min</option>
            <option value="60">60 min</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <button class="btn btn-success btn-block" type="submit">Submit</button>
        </div>
        </form>
      </div>
  </div>
</main>


{{#section 'script'}}

<script src="/static/js/studentportal.js"></script>

{{/section}}