<body>
  <div class="col nav">
   
      <li class="nav-item">
        <a class="nav-link" href="#">Result Page</a>
      <li class="nav-item">
        <a class="nav-link" href="#">Request Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      </li>
    </ul>
  </div>

  <div class="input-group mb-3">
  <button class="btn btn-success btn-block" type="submit">Check In</button>
</div>

  <main>
    
    <!-- <div class="container students"> -->
      <div class="row student">

        <div class="input-group mb-3">
            <div class="card">
                <div class="card-header">
                    Incoming Requests
                </div>
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Accept</a>
                </div>
              </div>
        </div>
        </div>

    
</body>
</main>